<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">

            {% if courses is not empty %}
                <h4>Current Courses</h4>
                <ul>
                    {% for course in courses %}
                        <li><a href="courses/{{ course.getId }}">{{ course.getCourseNumber }} - {{ course.getCourseName }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h4>Add a New Course</h4>
            <form action="/courses" method="post">
                <label for="c_name">Course Name</label>
                <input id="c_name" name="c_name" class="form-control" type="text">
                <br>
                <label for="c_number">Course Number</label>
                <input id="c_number" name="c_number" class="form-control" type="text">
                <br>
                <button class="btn btn-success" type="submit">Add Course</button>
            </form>
            <br>
            <form action="/delete_courses" method="post">
                <button class="btn btn-danger" type="submit">Remove Courses</button>
            </form>
            <br>
            <p><a href="/">Home</a></p>

        </div>
    </body>
</html>
